.logInFormContainer{
  background-image: url("../../../../assets/images/hero screen.svg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  opacity: 70%;
  .login_form_background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  form{
    display: flex;
    flex-direction: column;
  }
}