.register_container {
  background-image: url("../../../../assets/images/hero screen.svg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  opacity: 70%;
  display: flex;
  justify-content: center;

  .register_form_background {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 1vh;
    text-align: center;
    max-width: 80vh;
    width: 100%;
    margin-top: 6%;
  }

  form {
    display: flex;
    flex-direction: column;

    .username_inp {
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 0.3vh solid #5a5a5a;
      width: 50vh;
      height: 5vh;
      background-color: #cac4d3;

      &::placeholder {
        opacity: 1;
        padding-left: 2vh;
      }
    }

    .email_inp {
      margin-top: 4vh;
      width: 50vh;
      height: 5vh;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 0.3vh solid #5a5a5a;
      background-color: #cac4d3;

      &::placeholder {
        opacity: 1;
        padding-left: 2vh;
      }
    }

    .password_inp {
      margin-top: 4vh;
      width: 50vh;
      height: 5vh;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 0.3vh solid #5a5a5a;
      background-color: #cac4d3;

      &::placeholder {
        opacity: 1;
        padding-left: 2vh;
      }
    }

    .number_inp {
      margin-top: 4vh;
      width: 50vh;
      height: 5vh;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 0.3vh solid #5a5a5a;
      background-color: #cac4d3;

      &::placeholder {
        opacity: 1;
        padding-left: 2vh;
      }
    }

    .submit_btn {
      margin-left: 19vh;
      margin-top: 6vh;
      width: 14vh;
      height: 4vh;
      background-color: #c5c5c5;
      border: none;
    }

  }
}

.register_heading {
  padding-bottom: 4vh;
}


